@import "~bootstrap/scss/bootstrap";

li {
	list-style: none;
}

.sidebar {
	border:0px;
	border-right-width: 1px;
	border-style: solid;
	border-color: $gray-light;
	background: $gray-lightst;
	height: 100vh;
	&.right {
		border-left-width: 1px;
	}
}

.bd-content {
	padding: 0px;
}

.inspector {
	position: relative;
	.label {
		position: absolute;
		z-index: 100;
		width: 20px;
		height: 40px;
		position: absolute;
		top: calc(50% - 20px);
		left: -20px;
	}
}