@import "~bootstrap/scss/bootstrap";
@import "./../resources/css/font/font";
* {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
html body,
html body * { 
	font-family: 'NanumSquare', sans-serif; 
}
li {
	list-style: none;
}
.sidebar {
	position: fixed;
	border:0px;
	z-index: 10;
	border-right-width: 1px;
	border-style: solid;
	border-color: $gray-lightst;
	background: $white;
	height: 100vh;
	padding: 10px;
	box-sizing: border-box;
	box-shadow: $gray-lighter 0px 0px 8px 1px;
    top: 10px;
    height: calc(100vh - 10px);
	&.right {
		border-left-width: 1px;
	}
}
.bd-content{
	@include make-col-offset(1)
}
.bd-content {
	padding: 0px;
}

.inspector {
	position: relative;
	min-width: 16.6% !important;
	.label {
		position: absolute;
		z-index: 100;
		width: 70px;
		height: 40px;
		position: absolute;
		top: calc(50% - 35px);
		left: -35px;
	}
	&.active {
	    flex: auto;
	    right: 0px;
	    position: absolute;
	    z-index: 10001;
	}
}

.component_list {
	input {
		width: 100%;
	}
}

main.fr-content {
	height: calc(100vh) !important;
	overflow: hidden;
}
iframe.fr-iframe,
.fr-box.fr-basic.fr-top .fr-wrapper {
	height: calc(100vh - 43px) !important;
}
html .fr-toolbar.fr-top {
    border: 0px;
}
.fr-view {
	.container {
		padding: 0px;
		.layout_box {
			box-sizing: border-box;
			min-height: 100px;
			&:first-child {
				border-left:1px dashed #563d7c;
			}
		}
	}
}
.editorview {
	display: none;
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
	border: 1px solid $gray-lightst;
	border-top: 0px;
	border-bottom: 0px;
	z-index: 10;
	background: $white;
	&.active {
		display: block;
	}
	.sizecontroll {
		position: absolute;
		width: 30px;
		height: 30px;
		bottom:0px;
		right:0px;
		background: red;
		border: 0px;
		bottom: 0px;
		z-index: 10000;
	}
	.fr-view-inner {
		position: absolute;
		overflow: auto;
		width:100%;
		height:100%;
		.fr-view-inside {
			transform-origin: top left;
		}
	}
	> button {
		position: absolute;
		z-index: 10000;
		bottom:30px;
		right:30px;
		width: 30px;
		height: 30px;
		border: 0px;
		&.zoomin {
			right:60px;
		}
	}
}

ul.accordion h3 {
	display: block;
	height: 50px;
	line-height: 30px;
	text-indent: 20px;
	font-size: 20px;
	font-weight: 600;
	color:#999999;	
	border-width: 1px;
	border-style: solid;
	border-color: $gray-lightst;
	background: $white;
	margin: 0px; 
	padding: 10px;
	&.show {
		color:#202020;	
	}
}
ul.accordion h3+ul {
	background: #fdfdfd;
	border-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: $gray-lightst;
}
ul.accordion h3+ul li {

	padding-left: 20px;
	padding-right: 20px;

	&:first-child {
		padding-top: 20px;
	}

	&:last-child {
		padding-bottom: 20px;
	}
}
ul.accordion h3+ul li input {
	width: 50%;
	min-width: 400px;
	height: 30px;
	line-height: 30px;
	margin-right: 10px;
	padding-left: 10px;
	&[type='color'] {
		min-width: 40px;
		width: 40px;
		padding: 0px;
		background: transparent;
	}
}
ul.accordion h3.hide {
	position: relative;
	&+ul {
		display: block;
		max-height: 0px;
		overflow: hidden;
		transition: max-height 1s 0s;		
	}
	span.carrot {
		position: absolute;
	}
	span.carrot {
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		width: 0; 
	    height: 0; 
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    border-top: 5px solid #cccccc;
	}
}
ul.accordion h3.show {
	position: relative;
	&+ul {
		display: block;
		max-height: 5000px;
		overflow: hidden;
		transition: max-height 3s 0s;
	}
	span.carrot {
		position: absolute;
		top: 22px;
		right: 20px;
		display: block;
		width: 0; 
	    height: 0; 
	    border-left: 5px solid transparent;
	    border-right: 5px solid transparent;
	    border-bottom: 5px solid #cccccc;
	}
}

div.submit_theme_div {
	text-align: center;
}

button.submit_theme {
	width: 200px;
	text-align: center;
	height: 50px;
	line-height: 30px;
	font-size: 20px;
	font-weight: 600;
	color:#999999;	
	border-width: 1px;
	border-bottom-width: 3px;
	border-style: solid;
	border-color: $gray-lightst;
	background: $white;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	transition: background 1s 0s;
	&:hover {
		transition: background 1s 0s;
		background: #cccccc;
		cursor: pointer;
	}
}